<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Transfer Error</title>
+  </head>
+  <body>
+    <h1>Transfer Error</h1>
+    <p style="color:red;"><%= error %></p>
+    <p><a href="/bank">Back</a></p>
+  </body>
+</html>
