<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Result</title>
  </head>
  <body>
    <h1>Result</h1>
    <p><%= output %></p>
    <p><a href="/labs">Back to Labs</a></p>
  </body>
</html>
